// Variables
$color-primary: #0fabbc;
$color-primary-light: #12cad6;
$color-primary-dark: #3282b8;
$color-secondary: #e4f9ff;
$color-grey-dark: #333;
$color-black: #000;
$color-white: #fff;

// Main style
html {
  font-size: 10px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-size: 1.6rem;
  font-family: "Lato", sans-serif;
  padding: 3rem;
  color: $color-grey-dark;
}

// Utilities
.u-margin-bottom-big {
  margin-bottom: 10rem;
}
.u-margin-bottom-medium {
  margin-bottom: 6rem;
}
.u-margin-bottom-small {
  margin-bottom: 3rem;
}

.u-margin-top-big {
  margin-top: 10rem;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.heading-primary {
  font-size: 8rem;
  text-transform: uppercase;
}

.heading-secondary {
  font-size: 4rem;
  text-transform: uppercase;
  display: inline-block;
  background-image: linear-gradient(
    to right,
    $color-primary-dark,
    $color-primary-light
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: 1rem 1.5rem 4rem rgba($color-black, 0.4);
  transition: all 0.3s;
  &:hover {
    transform: skew(15deg, 5deg) scale(1.1);
    text-shadow: 1rem 2rem 4.5rem rgba($color-black, 0.6);
  }
}

.heading-tertiary {
  font-size: 2rem;
  color: $color-grey-dark;
  font-weight: 400;
  text-transform: uppercase;
}

.btn {
  &:link,
  &:visited {
    position: relative;
    display: inline-block;
    padding: 2rem 5rem;
    text-transform: uppercase;
    border-radius: 5rem;
    box-shadow: 1rem 1rem 4rem rgba($color-black, 0.3);
    transition: all 0.3s ease-out;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 5rem;
    z-index: -1;
    transition: 0.3s all ease;
    opacity: 1;
  }

  &:hover {
    transform: translateY(-0.3rem);
    box-shadow: 1rem 0.5rem 4rem rgba($color-black, 0.2);
  }

  &:hover::before {
    transform: scale(1.5);
    opacity: 0;
  }

  &:active {
    transform: translateY(-0.1rem);
  }

  &--white {
    color: $color-black;
    background-color: $color-white;
    &::before {
      background-color: $color-white;
    }
  }
}

.btn-text {
  display: inline-block;
  color: $color-grey-dark;
  transition: all 0.3s ease;
  .arrow {
    display: inline-block;
  }
  &:hover {
    color: $color-secondary;
    .arrow {
      transform: translateX(1rem);
    }
  }
}

// Header
.header {
  height: 90vh;
  background: linear-gradient(
      to right bottom,
      rgba($color-primary-dark, 0.6),
      rgba($color-primary, 0.6)
    ),
    url("./img/backgr.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
}

.heading-block {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

// Navigation
.navigation {
  z-index: 1000;
}

.hamburger {
  height: 6rem;
  width: 6rem;
  position: fixed;
  top: 6rem;
  left: 6rem;
  background-color: $color-white;
  border-radius: 50%;
  z-index: 100;
}

.hamburger-menu {
  position: fixed;
  height: 0.25rem;
  width: 3rem;
  background-color: $color-black;
  top: 9rem;
  left: 9rem;
  transform: translate(-50%, -50%);
  transition: 0.2s all ease;
  z-index: 200;
  &::before,
  &::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: $color-black;
  }

  &::before {
    top: -1rem;
  }

  &::after {
    top: 1rem;
  }
}

.hamburger-toggle {
  height: 4rem;
  width: 4rem;
  opacity: 0;
  cursor: pointer;
  position: fixed;
  top: 7rem;
  left: 7rem;
  z-index: 300;
}

.hamburger-toggle:checked + .hamburger-menu {
  & {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  &::before,
  &::after {
    top: 0;
    transform: rotate(90deg);
  }
}

.menu-overlay {
  background-image: radial-gradient($color-primary-dark, $color-primary-light);
  height: 5rem;
  width: 5rem;
  position: fixed;
  top: 6.5rem;
  left: 6.5rem;
  z-index: 50;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
}

.navbar {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 500;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease-in-out;
  .menu-list {
    list-style: none;
    font-size: 3.5rem;
    text-align: center;
    li {
      margin: 3rem 0;
      a {
        color: $color-black;
        display: inline-block;
        text-transform: uppercase;
        letter-spacing: 0.5rem;
        padding: 1.5rem 2.5rem;
        background-image: linear-gradient(
          105deg,
          transparent 0%,
          transparent 50%,
          $color-white 50%
        );
        background-size: 220%;
        transition: all 0.2s ease-in;
        &:hover {
          background-position: right;
        }
      }
    }
  }
}

// Functionality hamburger
.hamburger-toggle:checked ~ .navbar {
  opacity: 1;
  visibility: visible;
}

.hamburger-toggle:checked ~ .menu-overlay {
  transform: scale(100);
}

// Skills section
#skills {
  background-color: $color-secondary;
  padding: 13rem 0;
  height: 90vh;
  margin-top: -15vh;
  clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 90%);
}

// Projects/work section
#work {
  background-color: rgba($color-primary-dark, 0.6);
  height: 90vh;
  margin-top: -10vh;
  padding: 10rem 0;
}

// Card component
.card {
  height: 40rem;
  width: 30rem;
  position: relative;
  perspective: 150rem;
  border-radius: 3px;
  &-front,
  &-back {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.4s;
    backface-visibility: hidden;
    padding: 1.5rem;
  }

  &-front {
    background-color: $color-white;
    z-index: 6;
    .project-img {
      width: 100%;
      height: 60%;
    }

    .project-info {
      padding: 1rem 0;
      .project-stack {
        padding: 0.25rem 0;
      }
      .project-description {
        text-align: justify;
      }
    }
  }

  &-back {
    background-image: linear-gradient(
      to right top,
      $color-primary-dark,
      $color-primary-light
    );
    transform: rotateY(-180deg);
    .project-video {
      margin-bottom: 3rem;
      height: 60%;
      &__content {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &:hover &-front {
    transform: rotateY(180deg);
  }
  &:hover &-back {
    transform: rotateY(0);
  }
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
